[user]
	email = nethish259@gmail.com
	name = nethish

[core]
	editor = vim
	# pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
	co = checkout
	p = push
	st = status
	ll = log --oneline
	last = log -1 HEAD --stat
	cm = commit -m
	rv = remote -v
	d = diff
	dv = difftool -t vimdiff -y
	gl = config --global -l
	dk = difftool -t kdiff3 -y
	catt = cat-file -t
	g = config --global
	catp = cat-file -p
	cats = cat-file -s
	lst = ls-tree
	ds = diff --staged
	unstage = restore --staged
	lg = log --graph
	llog = log --graph --abbrev-commit --decorate  --first-parent
	glog = log --graph --abbrev-commit --decorate


[merge]
   tool = vimdiff

[difftool "vimdiff"]
    cmd = vimdiff \"$LOCAL\" \"$REMOTE\"

[mergetool "vimdiff"]
    cmd = cp \"$BASE\" \"$MERGED\" && vimdiff \"$LOCAL\" \"$MERGED\" \"$REMOTE\"

[commit]
	template = ~/repos/dotfiles/gitcommittemplate.txt
    
[push]
	default = current
	autoSetupRemote = true



# delta command
# [core]
#     pager = delta
#
# [interactive]
#     diffFilter = delta --color-only
#
# [delta]
#     navigate = true    # use n and N to move between diff sections
#     light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
#
# [merge]
#     conflictstyle = diff3
#
# [diff]
#     colorMoved = default


# [interactive]
# 	diffFilter = diff-so-fancy --patch

